---
import DropNav from "./dropNav.astro";

export type Link = {
  url: string;
  title: string;
  subNav?: SubNav[];
};

export type SubNav = {
  title: string;
  description: string;
  url: string;
  level?: SubNav;
};

interface Props {
  links: Link[];
  type: "primary" | "secondary";
}

const url = Astro.url.pathname;

const { links, type } = Astro.props;
---

<script>
  const allLinks = Array.from(document.querySelectorAll("a"));
  const listItems = document.querySelectorAll(".primary-list-elem");
  const urlAttribute = document.querySelector("nav")?.getAttribute("data-url");

  const currentLink = allLinks.find((link) => link.getAttribute("href") === urlAttribute);

  if (currentLink) currentLink.classList.add("active");

  listItems.forEach((item) => {
    const dropNav = (item.children[1] as HTMLElement) || null;

    if (dropNav) {
      item.addEventListener("mouseover", () => {
        dropNav.classList.add("drop-nav-visible");
      });

      item.addEventListener("mouseleave", () => {
        dropNav.classList.remove("drop-nav-visible");
      });
    }
  });
</script>

<nav class={type} data-url={url}>
  <ul class="nav-list">
    {
      links.map(({ url, title, subNav }) => (
        <li class={`${type}-list-elem`}>
          <a href={url}>{title}</a>

          {subNav && <DropNav subLinks={subNav} />}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    & .nav-list li {
      display: inline-block;

      & a {
        color: var(--white);

        text-decoration: none;

        transition: color 0.2s linear;
      }

      & a.active {
        color: var(--primary-color);
      }

      &:hover a {
        color: var(--primary-color-hover);
      }
    }
  }

  .primary {
    & .nav-list {
      list-style: none;

      & li {
        padding: 20px 10px;

        & a {
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }

  .secondary {
    & .nav-list {
      & li {
        padding: 0 4px;

        & a {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    nav {
      display: none;
    }
  }
</style>
